*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

:root {
  --Bright-orange: hsl(31, 77%, 52%);
  --Dark-cyan: hsl(184, 100%, 22%);
  --Very-dark-cyan: hsl(179, 100%, 13%);
}

body {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: #f2f2f2;
}
.container {
  display: flex;
  flex-direction: row;
  gap: 0;
  width: 80%;
  max-width: 900px;
  border-radius: 10px;
}
svg {
  margin-top: 30px;
  margin-bottom: 1rem;
}
div {
  display: flex;
  flex-direction: column;
  padding: 32px 40px;
}
.sedans {
  background-color: var(--Bright-orange);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.suv {
  background-color: var(--Dark-cyan);
}
.luxury {
  background-color: var(--Very-dark-cyan);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
h1 {
  font-family: "Big Shoulders Display", sans-serif;
  color: hsl(0, 0%, 95%);
  text-transform: uppercase;
  font-size: 3rem;
  margin-bottom: 1.5rem;
}
p {
  font-family: "Lexend Deca", sans-serif;
  color: hsla(0, 0%, 100%, 0.75);
  margin-bottom: 4rem;
}
button {
  background-color: #f2f2f2;
  border-radius: 10px;
  border: 0;
  font-family: "Lexend Deca", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;

  text-align: center;
  width: 100px;
}
.sedan-button {
  color: var(--Bright-orange);
}
.suv-button {
  color: var(--Dark-cyan);
}
.luxury-button {
  color: var(--Very-dark-cyan);
}
@media only screen and (max-width: 1092px) {
  body {
    padding: 32px;
  }
  .container {
    flex-direction: column;
  }
  .luxury {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .sedans {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
}
